# Supabase Configuration
# You can replace these with your own Supabase project details if you want to deploy this elsewhere.
VITE_SUPABASE_URL="https://irhqcroczvdkytvvsico.supabase.co"
VITE_SUPABASE_ANON_KEY="sb_publishable_iecSD9eU8wwGFllUWzmZng_yYam5hag"
